@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
* {
	box-sizing: border-box;
	font-family: "Play", sans-serif;
}

header {
	background-color: #1f2833;
	color: grey;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#logo {
	fill: #45a29e;
}

#brand-name {
	text-decoration: none;
	color: #66fcf1;
	font-size: 30px;
	font-family: "Dela Gothic One", cursive;
}

.container {
	min-height: 100vh;
}

figure {
	box-shadow: 5px 10px 8px #888888;
	margin-bottom: 15px;
}

.img-responsive {
	z-index: -1;
	position: relative;
}

figcaption {
	padding: 5px;
	background-color: rgba(79, 44, 16, 0.6);
	height: 3rem;
	margin-top: -3rem;
	text-align: center;
	color: white;
	z-index: 1;
}

.details {
	display: none;
}

footer {
	text-align: center;
	background-color: #45a29e;
	padding: 15px;
	margin-top: 25px;
}

.special {
	height: 1rem;
	margin-bottom: 1.5rem;
}

.form-horizontal .control-label {
	text-align: left;
}

.badge {
	margin-left: 5px;
	font-size: 8px;
}
